.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    margin: 20px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}

.product:hover{
    background-color: beige;
}

.img {
    object-fit: contain;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination span {
    padding: 10px 20px;
    margin: 20px 0px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.pagination span:hover {
    background-color: rgba(215, 140, 0, 0.721);
}

.active {
    background-color: rgb(215, 140, 0);
}

.hidden {
    display: none;
}