* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.main {
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  margin: 0 auto;
}

.accordian {
  margin-bottom: 10px;
  padding: 10px 30px;
  background-color: aquamarine;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question i {
  cursor: pointer;
}

.icon {
  transition: transform 0.3s;
}
.icon.active {
  transform: rotate(-180deg);
}

.answer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.answer.active {
  max-height: 100px;
}